      <hr>

      <footer>
        <p>© <? echo $this->escape( $this->author ) . ' ' . date("Y"); ?></p>
      </footer>
    </div> <!-- /container -->
    <p id="back-top" style="display: block;">
            <a href="#"><span></span> Back to top </a>
    </p>

    <!-- Placed at the end of the document so the pages load faster -->
    <?
    foreach( $this->js as $js ) 
    {
        echo '<script src="' . $js . '?v=' . $this->escape($this->version) . '" language="javascript" type="text/javascript" charset="utf-8"></script>';
    }
    if ( 'production' === APPLICATION_ENV ) { ?>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<? echo $this->escape($this->GoogleAnalytics);?>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<?  } ?>
    <script type="text/javascript">
    SyntaxHighlighter.all();
    $.fn.alert = function (props) {
        if (typeof props.txt === 'undefined') return;
        if (typeof props.type === 'undefined') props.type = 'info';
        var ele = this[0];
        $(ele).html('<div id="alert" class="alert alert-'+props.type+'"><button type="button" class="close" data-dismiss="alert">&times;</button>'+props.txt+'</div>');
    }
    jQuery(document).ready(function(){
        // hide #back-top first
        $("#back-top").hide();
        // fade in #back-top
        jQuery(function () {
            jQuery(window).scroll(function () {
                if ( jQuery(this).scrollTop() > parseFloat( jQuery(window).height() ) ) {
                        jQuery('#back-top').fadeIn();
                } else {
                        jQuery('#back-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            jQuery('#back-top a').click(function () {
                jQuery('body,html').animate({
                        scrollTop: 0
                }, 800);
                return false;
            });
        });
    });
</script>
<?php echo $this->inlineScript(); ?>
<? if ( 'production' === APPLICATION_ENV ) { ?>
<script type="text/javascript">
    var addthis_config = {
        data_track_addressbar:    true,
        data_ga_property: '<? echo $this->escape($this->GoogleAnalytics);?>',
        data_ga_social : true
    };
    function initAddThis()
    {
         addthis.init()
    }
    initAddThis();
</script>
<?  } ?>
</body>
</html>