<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="<? echo $this->escape($this->encoding); ?>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1.0">
    <title><? echo isset( $this->article_title ) ? $this->escape($this->title) . " | " . $this->escape( $this->article_title ) : $this->escape($this->title); ?></title>
    <meta name="version" content="<? echo $this->escape($this->version); ?>">
    <meta name="description" content="<? echo $this->escape($this->description); ?>">
    <meta name="abstract" content="<? echo $this->escape($this->abstract); ?>">
    <meta name="keywords" content="<? echo $this->escape($this->keywords); ?>">
    <meta name="news_keywords" content="<? echo $this->escape($this->keywords); ?>">
    <meta name="contact" content="<? echo $this->escape($this->adminEmail); ?>">
    <meta name="reply-to" content="<? echo $this->escape($this->adminEmail); ?>">
    <meta name="image_src" content="<? echo $this->escape($this->image_src); ?>">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="web_author" content="<? echo $this->escape($this->author); ?>">
    <meta name="google-site-verification" content="<? echo $this->escape($this->GoogleVerification); ?>">
    <meta name="copyright" content="Copyright <? echo $this->escape( $this->author ) . ' ' . date("Y"); ?>">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="7 days">
    <meta name="generator" content="NetBeans IDE">
    <meta name="language" content="EN">
    <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection">
    <meta name="twitter:card" content="<? echo $this->escape( $this->tw_type ); ?>">
    <meta name="twitter:site" content="@<? echo $this->escape( $this->tw_site ); ?>">
    <meta name="twitter:title" content="<? echo isset( $this->article_title ) ? $this->escape($this->title) . " | " . $this->escape( $this->article_title ) : $this->escape($this->title); ?>">
    <meta name="twitter:description" content="<? echo $this->escape($this->description); ?>">
    <meta name="twitter:creator" content="@<? echo $this->escape( $this->tw_author ); ?>">
    <meta name="twitter:image:src" content="<? echo $this->escape($this->image_src); ?>">
    <meta name="twitter:domain" content="<? echo HOST_URL; ?>">
    <meta property="fb:app_id" content="<? echo $this->escape( $this->fb_app_id ); ?>" />
    <meta property="fb:admins" content="<? echo $this->escape( $this->fb_admins ); ?>" />
    <meta property="fb:profile_id" content="<? echo $this->escape( $this->fb_admins ); ?>" />
    <meta property="og:see_also" content="http://chrisdlangton.com/" />
<?  if ( isset( $this->article ) ) { ?>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<? echo $this->escape($this->article->datetime); ?>" />
    <meta property="article:author" content="<? echo $this->escape( $this->fb_admins ); ?>" />
    <meta property="article:tag" content="<? echo $this->escape($this->article->meta); ?>" />
<?  } else { ?>
    <meta property="og:type" content="website" />
<?  } ?>
    <meta property="og:description" content="<? echo $this->escape($this->description); ?>">
    <meta property="og:site_name" content="<? echo $this->escape($this->title); ?>"/>
    <meta property="og:url" content="<? echo isset( $this->article ) ? HOST_URL . 'article/post/' . rawurlencode( $this->escape( $this->article->article_title ) ) : HOST_URL ; ?>" /> 
    <meta property="og:title" content="<? echo isset( $this->article_title ) ? $this->escape($this->title) . " | " . $this->escape( $this->article_title ) : $this->escape($this->title); ?>" /> 
    <meta property="og:image" content="<? echo $this->escape($this->image_src); ?>" /> 
    <?
    foreach( $this->css as $css )
    {
        echo '<link href="' . $css . '?v=' . $this->escape($this->version). '" rel="stylesheet" type="text/css">';
    }
    ?>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<? echo HOST_URL; ?>/asset/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<? echo HOST_URL; ?>/asset/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<? echo HOST_URL; ?>/asset/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<? echo HOST_URL; ?>/asset/img/apple-touch-icon-57-precomposed.png">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="<? echo HOST_URL; ?>/sitemap.xml">
    <link rel="shortcut icon" href="<? echo HOST_URL; ?>/favicon.ico">
    <link rel="icon" href="<? echo HOST_URL; ?>/favicon.ico" type="image/x-icon">
    <link rel="author" href="<? echo $this->escape($this->GoogleAccount); ?>">
    <link rel="alternate" href="<? echo HOST_URL; ?>/rss.xml" title="RSS feed" type="application/rss+xml">
    <style type="text/css">
    @media (max-width: 1435px) {
        #addthis, #back-top {
            display: none;
            visibility: hidden;
        }
    }
    aside {
        margin-top: 30px;
    }
    #alert {
        margin-top: 50px;
    }
    #ajax {
        position:absolute;
        top: 50%;
        left: 50%;
        margin-top: -36px; /*set to a negative number 1/2 of img height*/
        margin-left: -36px; /*set to a negative number 1/2 of img width*/
        background-color: white;
        padding: 6px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        -khtml-border-radius: 15px;
        z-index: 1000;
    }
    #back-top {
            position: fixed;
            bottom: 30px;
            left: 30px;
    }
    #back-top a {
            width: 108px;
            display: block;
            text-align: center;
            font: 11px/100% Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            color: rgb(187, 187, 187);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
    }
    #back-top span {
            width: 108px;
            height: 108px;
            display: block;
            margin-bottom: 7px;
            background: rgb(221, 221, 221) url(http://www.vogella.com/img/common/up-arrow.png) no-repeat center center;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
    }
    .btn2-blue {
        margin: 0;
        border: 0;
        border-left: 2px solid #0072EE;
        padding: 10px;
        color: #C9C9C9;
        background-color: #000;
    }
    .btn2-blue:hover {
        border-left: 2px solid #57A8FF;
        background-color: #424242;
    }
    .select2-search-choice > div {
        font-size: initial;
        height: 18px;
    }
    .input-xxlarge.select2-offscreen {
        display: none;
        visibility: hidden;
    }
    #page-analtyics {
      clear: left;
    }
    #page-analtyics .metric {
      background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 0%, #f2f3f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f2f3f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* IE10+ */
        background: linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f3f2',GradientType=0 ); /* IE6-9 */
      border: 1px solid #ccc;
      float: left;
      font-size: 12px;
      margin: -4px 0 1em -1px;
      padding: 10px;
      width: 105px;
    }
    #page-analtyics .metric:hover {
      background: #fff;
      border-bottom-color: #b1b1b1;
    }
    #page-analtyics .metric .legend {
      background-color: #058DC7;
      border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
      font-size: 0;
      margin-right: 5px;
      padding: 10px 5px 0;
    }
    #page-analtyics .metric strong {
      font-size: 16px;
      font-weight: bold;
    }
    #page-analtyics .range {
      color: #686868;
      font-size: 11px;
      margin-bottom: 7px;
      width: 100%;
    }
    </style>
    <script async="" src="//www.google-analytics.com/ga.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<? echo $this->addthis_pubid; ?>&async=1&&domready=1"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="<? echo HOST_URL; ?>"><? 
            if ( isset( $this->image_src ) )
            {
                echo '<img src="' . $this->escape( $this->image_src ) . '" style="max-height:20px;max-width:40px;margin-right:3px;"/>' . $this->escape($this->title);
            }
            else
            {
                echo $this->escape($this->title);
            }
          ?></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <?
                foreach( $this->menu as $item => $value )
                {
                    if ( $item === 'main' )
                    {
                        foreach( $value as $mainItem => $url )
                        {
                            ?><li <? if ( $mainItem === "Home" ) { ?>class="active" <?} ?>><a href="<? echo $url; ?>"><i class="icon-white icon-home"></i>&nbsp;<? echo $mainItem; ?></a></li><?
                        }
                    }
                    if ( $item !== 'main' && is_array($value) )
                    {
                        ?><li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><? 
                                    if ( $item === "Categories" )
                                    {
                                        echo '<i class="icon-white icon-bookmark"></i>&nbsp;' . $item;
                                    }
                                    elseif ( $item === "Topics" )
                                    {
                                        echo '<i class="icon-white icon-comment"></i>&nbsp;' . $item;
                                    }
                                    elseif ( $item === "Settings" )
                                    {
                                        echo '<i class="icon-white icon-cog"></i>&nbsp;' . $item;
                                    }
                                    else
                                    {
                                        echo $item;
                                    }
                            ?> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                             <? foreach( $value as $menuItem => $url )
                                {
                                    if ( $item === "Topics" )
                                    {
                                        ?><li><a href="<? echo $url; ?>"><i class="icon-tag"></i>&nbsp;<? echo $menuItem; ?></a></li><?
                                    }
                                    else
                                    {
                                        ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                                    }
                                } ?>
                            </ul>
                        </li> <?
                    }  
                } ?>
            </ul>
            <div class="pull-right btn2-blue <? if ( isset( $this->session->auth ) && $this->session->auth ) { ?>hide<? } ?>" onClick='$(this).remove();$("form#login").removeClass("hide");' id="login">Login</div>
            <form view="login_form" class="navbar-form pull-right hide" id="login">
              <input class="span2" type="text" name="email" value="" placeholder="Email">
              <input class="span2" type="password" name="password" value="" placeholder="Password">
              <button type="button" data-bind='{"submit":"loginFn"}' class="btn2-blue">Sign in</button>
            </form>
            <button type="button" class="btn2-blue pull-right <? if ( ( isset( $this->session->auth ) && $this->session->auth === false ) || !isset( $this->session->auth ) ) { ?>hide<? } ?>" id="signout">Sign Out</button>
            <button id="aside" class="btn2-blue pull-right hide" type="button" onClick="$(this).addClass('hide');$('aside').show();$('div.span12').addClass('span9');$('div.span12').removeClass('span12');">Show Menu</button>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="ajax" class="hide"><img src="<? echo HOST_URL . "asset/img/ajax-loader.gif"; ?>"></div>
<? if ( 'production' === APPLICATION_ENV && in_array( Zend_Controller_Front::getInstance()->getRequest()->getControllerName() , array( "index" , "article" ) ) ) { ?>
    <!-- AddThis Button BEGIN -->
    <div id="addthis" class="addthis_toolbox addthis_floating_style addthis_counter_style well" style="left:30px;top:15%;">
        <a class="addthis_button_google_plusone" g:plusone:size="tall" onclick="_gaq.push(['_trackEvent', 'clicked-addthis-sidebar', 'gp_plusone']);"></a>
        <a class="addthis_button_tweet" tw:count="vertical" onclick="_gaq.push(['_trackSocial', 'twitter', 'tweet']); _gaq.push(['_trackEvent', 'clicked-addthis-sidebar', 'tweet']);"></a>
        <a class="addthis_button_linkedin_counter" li:counter="top" onclick="_gaq.push(['_trackSocial', 'linkedin', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-sidebar', 'linkedin_share']);"></a>
        <a class="addthis_button_facebook_like" fb:like:layout="box_count" onclick="_gaq.push(['_trackSocial', 'facebook', 'like']); _gaq.push(['_trackEvent', 'clicked-addthis-sidebar', 'facebook_like']);"></a>
        <a class="addthis_counter" onClick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-sidebar', 'addthis_share']);"></a>
        <a href="<? echo HOST_URL; ?>rss.xml" title="Subscribe to my Feed" target="_blank" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'rss', 'clicked-rss-button'])" ><img src="<? echo HOST_URL; ?>asset/img/feed-icon.gif" alt="Subscribe to my Feed"/></a>
    </div>
    <!-- AddThis Button END -->
<?  } ?>
    <div class="container">
        <? if ( isset( $this->alert ) )
        {
            if ( is_bool( $this->alert->block ) && $this->alert->block ) {
                ?> <div id="alert"><div id="alert" class="alert alert-block alert-<? echo $this->alert->type; ?>"><button type="button" class="close" data-dismiss="alert">&times;</button><? echo $this->alert->txt; ?></div></div> <?
            } else {
                ?> <div id="alert"><div id="alert" class="alert alert-<? echo $this->alert->type; ?>"><button type="button" class="close" data-dismiss="alert">&times;</button><? echo $this->alert->txt; ?></div></div> <?
            }
        }
        else
        {
            ?> <div id="alert"></div> <?
        }
    ?>
<script language="javascript" type="text/javascript" charset="utf-8">
    codewiz = {
        auth: <? echo isset( $this->session->auth ) && $this->session->auth ? "true" : "false"; ?>
        <? if ( isset( $this->session->userId ) ) { echo ",userId: '" . $this->session->userId . "'"; } ?>
    };
</script>