<?  $catArr = array(
        'gadgets'=>"icon-camera",'technology'=>"icon-hdd",'software'=>"icon-cog",'raspberry pi'=>"icon-book",'programming'=>"icon-fire",'php'=>"icon-certificate",'javascript'=>"icon-globe",'css3'=>"icon-eye-open",
    );
include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span8">
      <article id="article" itemscope itemtype="http://schema.org/Article">
        <meta itemprop="url" content="<? echo HOST_URL . "article/post/" . urlencode( $this->escape( $this->article->article_title ) ); ?>">
        <h2 class="page-header" itemprop="name" style="line-height: 1em;"><? echo $this->escape( $this->article->article_title ); ?></h2>
        <div class="article_info well well-small">
            <i class="icon-user"></i>&nbsp;<span itemprop="author" title="<? echo $this->escape( $this->article->authorObj->fname ) . " " . $this->escape( $this->article->authorObj->lname ); ?>"><? echo $this->escape( $this->article->authorObj->fname ) . " " . $this->escape( $this->article->authorObj->lname ); ?></span>&nbsp;
            <i class="icon-calendar"></i>&nbsp;<time datetime="<? echo $this->escape( $this->article->datetime ); ?>"><? echo date( "jS M Y", strtotime( $this->escape( $this->article->datetime ) ) ) ; //. " <i class='icon-time'></i> " . date( "g:ia", strtotime( $this->escape( $this->article->datetime ) ) ) ?></time>&nbsp;
            <i class="icon-eye-open"></i>&nbsp;<meta itemprop="interactionCount" content="UserPageVisits:<? echo $this->escape( $this->article->views ); ?>"><? echo $this->escape( $this->article->views ); ?> Views&nbsp;
            <i class="icon-comment"></i>&nbsp;<meta itemprop="interactionCount" content="UserComments:<? echo $this->escape( $this->article->numComments ); ?>"><? echo $this->escape( $this->article->numComments ); ?> Comments
            <meta itemprop="thumbnailUrl" content="<? echo $this->escape( $this->article->prev_img ); ?>">
            <meta itemprop="description" content="<? echo $this->escape( substr( strip_tags( $this->article->content ) , 0 , 190 ) ); ?>">
            <span class="pull-right">
                <i class="<?= $catArr[strtolower($this->article->categoryObj->display)]; ?>"></i><?= $this->article->categoryObj->display; ?>
            </span>
        </div>
<?  if ( 'production' === APPLICATION_ENV ) { ?>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox2 addthis_default_style">
            <a class="addthis_button_google_plusone" g:plusone:size="medium" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-headline', 'gp_plusone']);"></a>
            <a class="addthis_button_tweet" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'twitter', 'tweet']); _gaq.push(['_trackEvent', 'clicked-addthis-headline', 'tweet']);"></a>
            <a class="addthis_button_linkedin_counter" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'linkedin', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-headline', 'linkedin_share']);"></a>
            <a class="addthis_button_facebook_like" fb:like:layout="button_count" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'facebook', 'like']); _gaq.push(['_trackEvent', 'clicked-addthis-headline', 'facebook_like']);"></a>
            <a class="addthis_counter addthis_pill_style" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-headline', 'share_others']);"></a>
        </div>
        <!-- AddThis Button END -->
<?  } ?>
        
        <span class="clear"><i class="icon-tags"></i>
<?          $labelArr = array(
                0=>"",1=>" label-success",2=>" label-warning",3=>" label-important",4=>" label-info",5=>" label-inverse",
            );
            $tags = explode(',', $this->article->meta );
            foreach ( $tags as $tag )
            {
                ?><a class="label<?= $labelArr[rand(0,5)]; ?>" style="margin:0.2em;" href="<? echo HOST_URL; ?>index/tag/<? echo trim($tag); ?>/" alt="<? echo ucwords( trim($tag) ); ?>"><? echo ucwords( trim($tag) ); ?></a><?
            }
?>      </span>
        <br /><br />
        <? if ( isset( $this->article->banner_img ) && !empty( $this->article->banner_img ) ) { ?>
            <div class="span" style="margin-bottom:5px;max-height:150px;overflow:hidden;-moz-box-shadow:1px 2px 1px #B4B4B4;-webkit-box-shadow:1px 2px 1px #B4B4B4;box-shadow:1px 2px 1px #B4B4B4;">
                <img class="span" src="<? echo $this->escape( $this->article->banner_img ); ?>" alt="<? echo $this->escape( $this->article->article_title ); ?>" title="<? echo $this->escape( $this->article->article_title ); ?>" style="border:0;-ms-interpolation-mode:bicubic;width:auto;height:150px;" >
            </div>
        <? } elseif ( isset( $this->article->show_prev_img ) && $this->article->show_prev_img ) { ?>
            <img class="span" src="<? echo $this->escape( $this->article->prev_img ); ?>" alt="<? echo $this->escape( $this->article->article_title ); ?>" title="<? echo $this->escape( $this->article->article_title ); ?>" style="border:0;-ms-interpolation-mode:bicubic;width:auto;max-height:200px;float:right;" >
        <? } ?>
        <span class="article_body">
        <? echo $this->article->content; 
        if ( isset( $this->article->rt_markup ) ) {
            echo $this->article->rt_markup;
        } ?>
        </span>
        <div id="disqus_thread"></div>
<?  if ( 'production' === APPLICATION_ENV ) { ?>
        <script type="text/javascript">
                var disqus_shortname = '<? echo DISQUS_FORUM; ?>';
                var disqus_identifier = '<? echo $this->article->id; ?>';
                var disqus_url = '<? echo HOST_URL; ?>index.php?article=<? echo urlencode( $this->escape( $this->article->article_title ) ); ?>';
                //var disqus_category_id = '1991925';
                (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
        </script>
        <noscript>Please enable JavaScript to view the &lt;a href="http://disqus.com/?ref_noscript"&gt;comments powered by Disqus.&lt;/a&gt;</noscript>
<?  } ?>
     </article> <!-- .article -->
     <h2 class="page-header">Latest Posts</h2>
     <div class="row thumbnails">
<?  (int)$i=0;
    foreach ( $this->latestArticles as $article ) { ?>
          <article class="span6" itemscope itemtype="http://schema.org/Article">
            <a class="thumbnail"  <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" style="text-decoration:none;margin-bottom:10px;min-height:400px;overflow:hidden;position:relative;" >
            <span class="span" style="max-height:150px;overflow:hidden;vertical-align:middle;display:block;margin-bottom:5px;-moz-box-shadow:1px 2px 1px #B4B4B4;-webkit-box-shadow:1px 2px 1px #B4B4B4;box-shadow:1px 2px 1px #B4B4B4;">
                <img class="span" src='<? echo $article['prev_img']; ?>' style="width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;">
            </span>
            <h4 itemprop="name"><? echo $article['article_title']; ?></h4>
              <span style="color:#999;font-size:0.9em;margin-left:5px;">
                <i class="icon-user"></i>&nbsp;<span itemprop="author" title="<? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?>"><? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?></span>&nbsp;
                <i class="icon-calendar"></i>&nbsp;<time datetime="<? echo $article['datetime']; ?>"><? echo date( "jS M Y", strtotime( $article['datetime'] ) ) ; //. " <i class='icon-time'></i> " . date( "g:ia", strtotime( $article['datetime'] ) ) ?></time>
              </span>
            <br>
            <p style="color:#555">
                <? echo Codewiz_Controller::trim_words( $article['content'] , 280 , true ); ?>...
            </p>
              <span style="color:#999;font-size:0.9em;position:absolute;bottom:18px;left:18px;">
                <i class="icon-eye-open"></i>&nbsp;<meta itemprop="interactionCount" content="UserPageVisits:<? echo $article['views']; ?>"><? echo $article['views']; ?> Views&nbsp;
                <i class="icon-comment"></i>&nbsp;<meta itemprop="interactionCount" content="UserComments:<? echo $article['numComments']; ?>"><? echo $article['numComments']; ?> Comment<? if ( $article['numComments'] !== 1 ) echo 's'; ?>
              </span>
            <button class="btn btn-large" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" style="float:right;position:absolute;bottom:5px;right:5px;">Read More »</button>
          </a>
        </article>
<?          if ( in_array( (int)$i, array( 1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101 ) ) ) { ?>
      </div>
      <div class="row thumbnails">
<?          }
        (int)$i++;
    }
?>
      </div>
    </div>
    <div class="span4">
      <aside class="well sidebar-nav">
        <ul class="nav nav-list">
<?  if ( 'production' === APPLICATION_ENV ) { ?>
        <!-- AddThis Follow BEGIN -->
        <li class="nav-header">Follow Codewiz.biz</li>
        <li>
            <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                <a class="addthis_button_facebook_follow" addthis:userid="chrisdlangton" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'facebook', 'follow']); _gaq.push(['_trackEvent', 'clicked-addthis-button', 'facebook_follow'])"></a>
                <a class="addthis_button_twitter_follow" addthis:userid="codewiz_biz" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'twitter', 'follow']); _gaq.push(['_trackEvent', 'clicked-addthis-button', 'twitter_follow'])"></a>
                <a class="addthis_button_linkedin_follow" addthis:userid="chrisdlangton" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'linkedin', 'connect']); _gaq.push(['_trackEvent', 'clicked-addthis-button', 'linkedin_follow'])"></a>
                <a class="addthis_button_google_follow" addthis:userid="108887414317459154833" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-button', 'gp_follow'])"></a>
                <a class="addthis_button_rss_follow" addthis:userid="<? echo HOST_URL; ?>rss.xml" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'rss', 'clicked-rss-button'])" ></a>
            </div>
        </li>
        <!-- AddThis Follow END -->
<?  } ?>
        <li class="nav-header"><i class="icon-user"></i>About the Author Of This Post</li>
        <li>
            <img class="row-fluid img-circle" src="<? echo $this->escape( $this->article->authorObj->avatar_url ); ?>">
        </li>
        <li>
            <a itemprop="url" href="<? echo $this->escape( $this->article->authorObj->url ); ?>">
                <span itemprop="author"><? echo $this->escape( $this->article->authorObj->fname ) . " " . $this->escape( $this->article->authorObj->lname ); ?></span>&nbsp;
            </a>
        </li>
        <li>
            <i><? echo $this->escape( $this->article->authorObj->about ); ?></i>
        </li>
        <li class="nav-header"><i class="icon-tags"></i>This Posts Tags</li>
        <li><span class="clear">
<?          foreach ( $tags as $tag )
            {
                ?><a class="label<?= $labelArr[rand(0,5)]; ?>" style="margin:0.2em;" href="<? echo HOST_URL; ?>index/tag/<? echo trim($tag); ?>/" alt="<? echo ucwords( trim($tag) ); ?>"><? echo ucwords( trim($tag) ); ?></a><?
            }
            ?>
        </span></li>
<?      if ( isset( $this->similarArticles ) ) { ?>
            <li class="nav-header"><i class="icon-pencil"></i>Similar Posts To This</li>
<?          foreach ( $this->similarArticles as $article ) { ?>
                <li class="thumbnails" style="margin: 5px;">
                    <a class="thumbnail" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" >
                        <img src="<? echo $this->escape( $article['prev_img'] ); ?>" alt="<? echo $this->escape( $article['article_title'] ); ?>" style="max-height:60px;max-width:100px;margin-left:10px;float:right;"/>
                        <? echo $this->escape( $article['article_title'] ); ?>
                        <br>
                        <span style="font-size:0.8em;color:#999;">Posted: <? echo date( "jS M Y", strtotime( $article['datetime'] ) ); // "jS M Y g:ia" ?></span>
                        <br>
                        <span style="font-size:0.8em;color:#999;">By: </span><span style="font-size:0.8em;"><? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-eye-open"></i><? echo $this->escape( $article['views'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-comment"></i><? echo $this->escape( $article['numComments'] ); ?></span>
                    </a>
                </li> 
            <? }
        }
        if ( isset( $this->recentComments ) ) { ?>
            <li class="nav-header"><i class="icon-comment"></i>Other Posts Latest Comments</li>
<?          foreach ( $this->recentComments as $comment ) { ?>
                <li class="thumbnails" style="margin: 5px;">
                    <a class="thumbnail" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $comment['article_title'] ); ?>" style="overflow:hidden;" > 
                        <img src="<? echo $this->escape( $comment['author_avatar'] ); ?>" alt="<? echo $this->escape( $comment['author_name'] ); ?>" style="max-height:60px;margin-right:10px;float:left;"/>
                        <? echo $this->escape( $comment['author_name'] ); ?><span style="font-size:0.8em;color:#999;"> in </span>
                        <span style="font-size:0.9em;"><? echo $this->escape( $comment['article_title'] ); ?> </span>
                        <br>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-thumbs-up"></i><? echo $this->escape( $comment['likes'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-thumbs-down"></i><? echo $this->escape( $comment['dislikes'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-plus-sign"></i><? echo round( $this->escape( $comment['author_disqus_reputation'] ) , 2 ); ?></span>
                        <br>
                        <span style="font-size:0.9em;color:#777;">[<? echo date( "jS M Y g:ia", strtotime( $comment['datetime'] ) ); ?>] </span>
                        <span style="font-size:1em;color:#999;"><? echo substr( strip_tags( $this->escape( $comment['content'] ) ) , 0 , 250 ); ?></span>
                    </a>
                </li> 
            <? }
        }
        if ( isset( $this->popularArticles ) ) { ?>
            <li class="nav-header"><i class="icon-pencil"></i>Other Popular Posts</li>
<?          foreach ( $this->popularArticles as $article ) { ?>
                <li class="thumbnails" style="margin: 5px;">
                    <a class="thumbnail" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" >
                        <img src="<? echo $this->escape( $article['prev_img'] ); ?>" alt="<? echo $this->escape( $article['article_title'] ); ?>" style="max-height:80px;max-width:100px;margin-left:10px;float:right;"/>
                        <? echo $this->escape( $article['article_title'] ); ?>
                        <br>
                        <span style="font-size:0.8em;color:#999;">Posted: <? echo date( "jS M Y", strtotime( $article['datetime'] ) ); // "jS M Y g:ia" ?></span>
                        <br>
                        <span style="font-size:0.8em;color:#999;">By: </span><span style="font-size:0.8em;"><? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-eye-open"></i><? echo $this->escape( $article['views'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-comment"></i><? echo $this->escape( $article['numComments'] ); ?></span>
                    </a>
                </li> 
            <? }
        }
?>      </ul>
      </aside>
    </div>
  </div>
<? include( $this->footerDir ); ?>
