<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span8">
<?  (int)$i=0;
    foreach ( $this->articles as $article ) {
        if ( (int)$i === 0 ) { ?>
      <article class="row span12" itemscope itemtype="http://schema.org/Article">
        <div class="well well-large" style="margin-top:30px;position:relative;" >
          <h2 itemprop="name"><? echo $article['article_title']; ?></h2>
          <div style="color:#999;" >
              <img src='<? echo isset( $article['banner_img'] ) && !empty( $article['banner_img'] ) ? $article['banner_img'] : $article['prev_img']; ?>' style="max-width:150px;float:right;">
              <i class="icon-user"></i>&nbsp;<span itemprop="author" title="<? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?>"><? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?></span>&nbsp;
              <i class="icon-calendar"></i>&nbsp;<time datetime="<? echo $article['datetime']; ?>"><? echo date( "jS M Y", strtotime( $article['datetime'] ) ) ; //. " <i class='icon-time'></i> " . date( "g:ia", strtotime( $article['datetime'] ) ) ?></time>
          </div>
          <br>
          <p>
              <? echo Codewiz_Controller::trim_words( $article['content'] , 500 , true ); ?> ...
          </p>
            <span style="color:#999;font-size:0.9em;position:absolute;bottom:10px;left:30px;">
              <i class="icon-eye-open"></i>&nbsp;<meta itemprop="interactionCount" content="UserPageVisits:<? echo $article['views']; ?>"><? echo $article['views']; ?> Views&nbsp;
              <i class="icon-comment"></i>&nbsp;<meta itemprop="interactionCount" content="UserComments:<? echo $article['numComments']; ?>"><? echo $article['numComments']; ?> Comments
            </span>
          <a class="btn btn-large" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" style="float:right;position:absolute;bottom:15px;right:15px;" >Read more »</a>
        </div>
      </article>
      <div class="row thumbnails">
<?      } else { ?>
          <article class="span6" itemscope itemtype="http://schema.org/Article">
            <a class="thumbnail"  <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" style="text-decoration:none;margin-bottom:10px;min-height:400px;overflow:hidden;position:relative;" >
            <span class="span" style="max-height:150px;overflow:hidden;vertical-align:middle;display:block;margin-bottom:5px;-moz-box-shadow:1px 2px 1px #B4B4B4;-webkit-box-shadow:1px 2px 1px #B4B4B4;box-shadow:1px 2px 1px #B4B4B4;">
                <img class="span" src='<? echo isset( $article['banner_img'] ) && !empty( $article['banner_img'] ) ? $article['banner_img'] : $article['prev_img']; ?>' style="width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;">
            </span>
            <h4 itemprop="name"><? echo $article['article_title']; ?></h4>
              <span style="color:#999;font-size:0.9em;margin-left:5px;">
                <i class="icon-user"></i>&nbsp;<span itemprop="author" title="<? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?>"><? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?></span>&nbsp;
                <i class="icon-calendar"></i>&nbsp;<time datetime="<? echo $article['datetime']; ?>"><? echo date( "jS M Y", strtotime( $article['datetime'] ) ) ; //. " <i class='icon-time'></i> " . date( "g:ia", strtotime( $article['datetime'] ) ) ?></time>
              </span>
            <br>
            <p style="color:#555">
                <? echo Codewiz_Controller::trim_words( $article['content'] , 280 , true ); ?>...
            </p>
              <span style="color:#999;font-size:0.9em;position:absolute;bottom:18px;left:18px;">
                <i class="icon-eye-open"></i>&nbsp;<meta itemprop="interactionCount" content="UserPageVisits:<? echo $article['views']; ?>"><? echo $article['views']; ?> Views&nbsp;
                <i class="icon-comment"></i>&nbsp;<meta itemprop="interactionCount" content="UserComments:<? echo $article['numComments']; ?>"><? echo $article['numComments']; ?> Comment<? if ( $article['numComments'] !== 1 ) echo 's'; ?>
              </span>
            <button class="btn btn-large" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" style="float:right;position:absolute;bottom:5px;right:5px;">Read More »</button>
          </a>
        </article>
<?          if ( in_array( (int)$i, array( 2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100 ) ) ) { ?>
      </div>
      <div class="row thumbnails">
<?          }
        }
        (int)$i++;
    }
?>
      </div>
    </div>
    <div class="span4">
      <aside class="well sidebar-nav">
        <ul class="nav nav-list">
<? if ( 'production' === APPLICATION_ENV ) { ?>
        <!-- AddThis Follow BEGIN -->
        <li class="nav-header">Follow Codewiz.biz</li>
        <li>
            <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                <a class="addthis_button_facebook_follow" addthis:userid="chrisdlangton" onClick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'facebook', 'subscribe']); _gaq.push(['_trackEvent', 'clicked-addthis-homepage', 'facebook']); "></a>
                <a class="addthis_button_twitter_follow" addthis:userid="codewiz_biz" onClick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'twitter', 'follow']); _gaq.push(['_trackEvent', 'clicked-addthis-homepage', 'twitter']); "></a>
                <a class="addthis_button_linkedin_follow" addthis:userid="chrisdlangton" onClick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackSocial', 'linkedin', 'connect']); _gaq.push(['_trackEvent', 'clicked-addthis-homepage', 'linkedin']); "></a>
                <a class="addthis_button_google_follow" addthis:userid="108887414317459154833" onClick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'clicked-addthis-homepage', 'gp_share']); "></a>
                <a class="addthis_button_rss_follow" addthis:userid="<? echo HOST_URL; ?>rss.xml" onclick="_gaq.push(['_trackSocial', 'addthis', 'share']); _gaq.push(['_trackEvent', 'rss', 'clicked-rss-button'])" ></a>
            </div>
        </li>
        <!-- AddThis Follow END -->
<?  } ?>
<?      if ( isset( $this->popularArticles ) ) { ?>
            <li class="nav-header"><i class="icon-pencil"></i>Popular Posts</li>
<?          foreach ( $this->popularArticles as $article ) { ?>
                <li class="thumbnails" style="margin: 5px;">
                    <a class="thumbnail" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $article['article_title'] ); ?>" >
                        <img src="<? echo $this->escape( $article['prev_img'] ); ?>" alt="<? echo $this->escape( $article['article_title'] ); ?>" style="max-height:80px;max-width:100px;margin-left:10px;float:right;"/>
                        <? echo $this->escape( $article['article_title'] ); ?>
                        <br>
                        <span style="font-size:0.8em;color:#999;">Posted: <? echo date( "jS M Y", strtotime( $article['datetime'] ) ); // "jS M Y g:ia" ?></span>
                        <br>
                        <span style="font-size:0.8em;color:#999;">By: </span><span style="font-size:0.8em;"><? echo $article['authorObj']->fname . " " . $article['authorObj']->lname; ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-eye-open"></i><? echo $this->escape( $article['views'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-comment"></i><? echo $this->escape( $article['numComments'] ); ?></span>
                    </a>
                </li> 
            <? }
        } ?>
        <!-- AddThis Trending Content BEGIN -->
        <li class="nav-header"><i class="icon-share"></i>Trending: Most Shared</li>
        <li id="addthis_trendingcontent" ></li>
        <!-- AddThis Trending Content END -->
<?      if ( isset( $this->tags ) && is_array( $this->tags ) ) { ?>
        <li class="nav-header"><i class="icon-tags"></i>Frequent Tags</li>                 
        <li><span class="clear">
<?          $labelArr = array(
                0=>"",1=>" label-success",2=>" label-warning",3=>" label-important",4=>" label-info",5=>" label-inverse",
            );
            foreach ( (array)$this->tags as $tag => $value )
            {
?>              <a class="label<?= $labelArr[rand(0,5)]; ?>" style="margin:0.2em;" href="<? echo HOST_URL; ?>index/tag/<? echo trim($tag); ?>/" alt="<? echo ucwords( trim($tag) ); ?>"><? echo ucwords( trim($tag) ); ?></a> <?
            }
?>      </span></li>
<?      }
        if ( isset( $this->recentComments ) ) { ?>
            <li class="nav-header"><i class="icon-comment"></i>Latest Comments</li>
<?          foreach ( $this->recentComments as $comment ) { ?>
                <li class="thumbnails" style="margin: 5px;">
                    <a class="thumbnail" <? if ( 'production' === APPLICATION_ENV ) { ?> onClick="_gaq.push(['_trackEvent', 'ArticleReads', this.href]);" <? } ?> href="<? echo HOST_URL; ?>article/post/<? echo urlencode( $comment['article_title'] ); ?>" style="overflow:hidden;" > 
                        <img src="<? echo $this->escape( $comment['author_avatar'] ); ?>" alt="<? echo $this->escape( $comment['author_name'] ); ?>" style="max-height:60px;margin-right:10px;float:left;"/>
                        <? echo $this->escape( $comment['author_name'] ); ?><span style="font-size:0.8em;color:#999;"> in </span>
                        <span style="font-size:0.9em;"><? echo $this->escape( $comment['article_title'] ); ?> </span>
                        <br>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-thumbs-up"></i><? echo $this->escape( $comment['likes'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-thumbs-down"></i><? echo $this->escape( $comment['dislikes'] ); ?></span>
                        &nbsp;<span style="font-size:0.8em;color:#000;"><i class="icon-plus-sign"></i><? echo round( $this->escape( $comment['author_disqus_reputation'] ) , 2 ); ?></span>
                        <br>
                        <span style="font-size:0.9em;color:#777;">[<? echo date( "jS M Y g:ia", strtotime( $comment['datetime'] ) ); ?>] </span>
                        <span style="font-size:1em;color:#999;"><? echo substr( strip_tags( $this->escape( $comment['content'] ) ) , 0 , 250 ); ?></span>
                    </a>
                </li> 
            <? }
        }
?>      </ul>
      </aside>
    </div>
  </div>
<script type="text/javascript">
    addthis.box("#addthis_trendingcontent", {
        feed_title : "",
        feed_type : "shared",
        feed_period : "month",
        num_links : 5,
        height : "auto",
        width : "auto"});
</script>
<? include( $this->footerDir ); ?>
