<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <div class="span9">
        <br>
        <form view="new_article">
            <label for="article_title">Article Title: </label>
            <p class="input-prepend">
                <span class="add-on"><i class="icon-pencil"></i></span>
                <input type="text" value="<? echo $this->requested->article_title; ?>" name="article_title" class="input-xxlarge" placeholder="Article Title" required/>
            </p>
            <label for="prev_img">Image Preview Url: </label>
            <p class="input-prepend">
                <span class="add-on"><i class="icon-file"></i></span>
                <input type="url" value="<? echo $this->requested->prev_img; ?>" name="prev_img" class="input-xxlarge" placeholder="Image Preview Url" required/>
                <span class="push-right"><input type="checkbox" name="show_prev_img" <? if ( $this->requested->show_prev_img == 1 ) echo "checked"; ?> required /></span>
            </p>
            <label for="banner_img">Banner Url: </label>
            <p class="input-prepend">
                <span class="add-on"><i class="icon-file"></i></span>
                <input type="url" value="<? echo $this->requested->banner_img; ?>" name="banner_img" class="input-xxlarge" placeholder="Banner Url"/>
            </p>
            <label for="meta">Tags: </label>
            <p class="input-prepend">
                <span class="add-on"><i class="icon-tags"></i></span>
                <input type="text" value="<? echo $this->requested->meta; ?>" name="meta" class="input-xxlarge" placeholder="Tags"/>
            </p>
            <label for="category_id">Category: </label>
            <select name="category_id" class="input-xxlarge"><?
              foreach ( $this->category as $category )
              {
                ?><option <? if ( $this->requested->category_id == $category['id'] ) { echo 'selected="selected"'; } ?> value="<? echo $category['id']; ?>"><? echo $category['display']; ?></option><?
              }
            ?></select>
            <label for="rt_markup">Twitter Re-Tweet Markup: </label>
            <p class="input-prepend">
                <span class="add-on"><i class="icon-share"></i></span>
                <textarea name="rt_markup" class="input-xxlarge" placeholder="Twitter Re-Tweet Markup"><? echo $this->requested->rt_markup; ?></textarea>
            </p>
            <br>
            <textarea name="content"><? echo $this->requested->content; ?></textarea>
            <br><? echo isset( $this->requested ) ? "<input type='hidden' value='" . $this->requested->id . "' name='id' />'" : ""; ?>
            <button type="button" data-bind='{"submit":"<? echo $this->update ? "update" : "save_new"; ?>_article"}' class="btn">Save</button>
        </form>
    </div>
  </div>
<? include( $this->footerDir ); ?>
