<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <div class="span9">
        <h2 class="well">Cron Jobs</h2>
            <?
            foreach( $this->jobs as $item => $value )
            {
                if ( is_array($value) )
                {
                    echo '<h3>' . $item . '</h3>';
                    echo '<table class="table table-bordered table-condensed table-hover">';
                    echo '<tr><th>Job</th><th>Actions</th><th>Results</th></tr>';
                    foreach( $value as $menuItem => $url )
                    {
                        echo '<tr>';
                        echo '<td>'.$menuItem.'</td>';
                        echo '<td><a class="btn" href="'.$url.'" id="'.rawurlencode($menuItem).'" onClick="cronRun(this.href,this.id);return false;">Run</a></td>';
                        echo '<td result="'.rawurlencode($menuItem).'"></td>';
                        echo '</tr>';
                    }
                    echo '</table>';
                }
            }
            ?>
    </div>
  </div>
<? include( $this->footerDir ); ?>
