<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <div class="span9">
<?      $show = array("Id","Name","Display","Related","Active"," "," "); ?>
        <h2 class="well">Manage Categories</h2>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <colgroup>
               <col style="width: 5%;">
               <col span="3" style="width: 25%;">
               <col style="width: 6%;">
               <col span="2" style="width: 7%;">
            </colgroup>
            <thead>
              <tr>
                  <th><? echo implode( "</th><th>" , $show ); ?> </th>
              </tr>
            </thead>
            <tbody><?
            $text = array("name","display");
            $number = array("active");
            foreach( $this->category as $category )
            {
?>              <tr category_id="<? echo $category['id']; ?>">
<?                foreach( $category as $key => $value )
                  {
                    if ( $key == "id" )
                    echo "<td><input type='text' disabled='true' value='" . $value . "' category_id='" . $category['id'] . "' name='" . $key . "' style='width:60%;'/></td>";
                    elseif ( in_array($key, $text) )
                    echo "<td><input type='text' max='254' value='" . $value . "' category_id='" . $category['id'] . "' name='" . $key . "' style='width:90%;'/></td>";
                    if ( $key == "related" )
                    { ?>
                        <td>
                            <select name="related" class="input-large" ><?
                              foreach ( $this->category as $related )
                              {
                                echo '<option';
                                if ( $related['id'] == $value ) echo ' selected="selected"';
                                echo ' category_id="' . $category['id'] . '" value="' . $related['id'] . '">' . $related['display'] . '</option>';
                              }
                            echo '<option ';
                              if ( is_null ( $value ) ) {
                                  echo 'selected="selected"';
                              }
                            echo ' value="0"> </option>';
                            ?></select>
                        </td>
<?                  }
                    elseif ( in_array($key, $number) )
                    echo "<td><input type='number' min='0' max='1' value='" . $value . "' category_id='" . $category['id'] . "' name='" . $key . "' style='width:70%;'/></td>";
                  }
?>                  <td>
                        <button type="button" class="btn btn-success" onClick="saveRow(<? echo $category['id']; ?>);" >Save</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" onClick="delRow(<? echo $category['id']; ?>);" >Delete</button>
                    </td>
                </tr>
<?          }
?>          <tr id="new_category">
                <td><input type='text' disabled='true' value='' name='id' style='width:60%;'/></td>
                <td><input type='text' value='' name='name' max='254' style='width:90%;'/></td>
                <td><input type='text' value='' name='display' max='254' style='width:90%;'/></td>
                <td>
                    <select name="related" class="input-large" >
                      <option selected="selected" value="0">Choose ...</option>
<?                    foreach( $this->category as $category )
                      {
                        echo '<option value="' . $category['id'] . '" >' . $category['display'] . '</option>';
                      }
                    ?></select>
                </td>
                <td><input type='number' min='0' max='1' value='' name='active' style='width:70%;'/></td>
                <td colspan="2"><button type="button" class="btn btn-success" onClick="createRow();" >Create</button></td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
<? include( $this->footerDir ); ?>
