<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div class="span9"><br>
        <?php
        $ga_email = 'chrislangton84@gmail.com';
        $ga_password = 'chrislangton';
        $ga_profile_id = '66881345';
        
   /* @param String $report_id
   * @param Array $dimensions Google Analytics dimensions e.g. array('browser')
   * @param Array $metrics Google Analytics metrics e.g. array('pageviews')
   * @param Array $sort_metric OPTIONAL: Dimension or dimensions to sort by e.g.('-visits')
   * @param String $filter OPTIONAL: Filter logic for filtering results
   * @param String $start_date OPTIONAL: Start of reporting period
   * @param String $end_date OPTIONAL: End of reporting period
   * @param Int $start_index OPTIONAL: Start index of results
   * @param Int $max_results OPTIONAL: Max results returned */
        $ga = new Google_Analytics($ga_email,$ga_password);
        $ga->requestReportData( $ga_profile_id , array('hostname') , array('pageviews', 'uniquePageviews', 'exitRate', 'avgTimeOnPage', 'entranceBounceRate') );
        $results1 = $ga->getResults();
        function secondMinute($seconds) {
            $minResult = floor($seconds/60);
            if($minResult < 10){$minResult = 0 . $minResult;}
            $secResult = ($seconds/60 - $minResult)*60;
            if($secResult < 10){$secResult = 0 . round($secResult);}
            else { $secResult = round($secResult); }
            return $minResult.":".$secResult;
        }
        foreach($results1 as $result) {
            if ( in_array($result->getHostname(), array( "www.codewiz.biz" , "codewiz.biz" ) ) ) {
                $views = empty( $views ) ? $result->getPageviews() : ( $views + $result->getPageviews() );
                $unique = empty( $unique ) ? $result->getUniquepageviews() : ( $unique + $result->getUniquepageviews() );
                $avg = empty( $avg ) ? $result->getAvgtimeonpage() : ( $avg + $result->getAvgtimeonpage() ) / 2;
                $bounce = empty( $bounce ) ? $result->getEntrancebouncerate() : ( $bounce + $result->getEntrancebouncerate() ) / 2;
                $exit = empty( $exit ) ? $result->getExitrate() : ( $exit + $result->getExitrate() ) / 2;
            }
        }
        echo '<div id="chart"></div><div id="page-analtyics">';
        echo '<div class="metric"><span>Pageviews</span><br /><strong>'.number_format( $views ).'</strong></div>';
        echo '<div class="metric"><span>Unique pageviews</span><br /><strong>'.number_format( $unique ).'</strong></div>';
        echo '<div class="metric"><span>Avg time on page</span><br /><strong>'.secondMinute( $avg ).'</strong></div>';
        echo '<div class="metric"><span>Bounce rate</span><br /><strong>'.round( $bounce , 2).'%</strong></div>';
        echo '<div class="metric"><span>Exit rate</span><br /><strong>'.round( $exit , 2).'%</strong></div>';
        echo '<div style="clear: left;"></div>';
        echo '</div>';
        $ga->requestReportData( $ga_profile_id , array('date') , array('pageviews') , 'date' );           
        $results2 = $ga->getResults();
        ?>
        <script type="text/javascript"> 
        google.load("visualization", "1", {packages:["corechart"]}); 
        google.setOnLoadCallback(drawChart);
        function drawChart() {   
          var data = new google.visualization.DataTable();       
          data.addColumn('string', 'Day');   
          data.addColumn('number', 'Pageviews');        
        data.addRows([     
          <?php     
          foreach($results2 as $result) {         
            echo '["'.date('M j',strtotime($result->getDate())).'", '.$result->getPageviews().'],';     
          }
          ?>   
        ]);
          var chart = new google.visualization.AreaChart(document.getElementById('chart'));   
          chart.draw(data, {width: 630, height: 180, title: '<?php echo date('M j, Y',strtotime('-30 day')).' - '.date('M j, Y'); ?>',                     
            colors:['#058dc7','#e6f4fa'],                     
            areaOpacity: 0.1,                     
            hAxis: {textPosition: 'in', showTextEvery: 5, slantedText: false, textStyle: { color: '#058dc7', fontSize: 10 } },                     
            pointSize: 5,                       
            legend: 'none',                     
            chartArea:{left:0,top:30,width:"100%",height:"100%"}   
          }); 
        } // End of drawChart()
        </script>        
    </div>
  </div>
<? include( $this->footerDir ); ?>
