<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <div class="span9">
        <h2 class="well">Error Log</h2>
        <form name="deleteLogs" method="post" action="<?= HOST_URL; ?>api/delete-logs">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <colgroup>
               <col style="width: 5%;">
               <col span="2" style="width: 15%;">
               <col style="width: 20%;">
               <col span="5" style="width: 8%;">
               <col style="width: 5%;">
            </colgroup>
            <thead>
              <tr>
                  <th>id</th>
                  <th>ErrorOccured</th>
                  <th>Type.</th>
                  <th>Description</th>
                  <th>File</th>
                  <th>Line</th>
                  <th colspan="3">Actions</th>
                  <th><input type="submit" name="deleteLogs" style="float:right;" class="btn btn-small" value="Delete" /></th>
              </tr>
            </thead>
            <tbody><?
            foreach( $this->logs as $row )
            {
                if ( strtolower( $row['type'] ) === "debug" ) $severity = "text-success";
                if ( in_array( strtolower( $row['type'] ) , array( "info" , "warning" ) ) ) $severity = "text-info";
                if ( in_array( strtolower( $row['type'] ) , array( "error" , "exception" ) ) ) $severity = "text-warning";
                if ( strtolower( $row['type'] ) === "fatal" ) $severity = "text-error";
?>              <tr log_id="<?= $row['id']; ?>">
                    <td><?= $row['id']; ?></td>
                    <td><?= $row['dtcreated']; ?></td>
                    <td><span class="<?= $severity; ?>"><?= strtoupper( $row['type'] ); ?></span></td>
                    <td><?= $row['errstr']; ?></td>
                    <td><?= $row['errfile']; ?></td>
                    <td><?= $row['errline']; ?></td>
                    <td>
                        <button type="button" class="btn btn-success" onClick="a('log_trace',<?= $row['id']; ?>);" >Trace</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" onClick="a('log_details',<?= $row['id']; ?>);" >Details</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" onClick="delRow(<?= $row['id']; ?>);" >Delete</button>
                    </td>
                    <td><input name="logs[]" type="checkbox" value="<?= $row['id']; ?>" /></td>
                </tr>
                <tr log_trace="<?= $row['id']; ?>" style="display:none;">
                    <td colspan="10"><pre><?= $row['backtrace']; ?></pre></td>
                </tr>
                <tr log_details="<?= $row['id']; ?>" style="display:none;">
                    <td colspan="10">
                        <? if ( count( json_decode( $row['post'] ) ) > 0 ) { ?><strong>POST:</strong><pre><? print_r( json_decode( $row['post'] ) ); ?></pre><? } ?>
                        <? if ( count( json_decode( $row['get'] ) ) > 0 ) { ?><strong>GET:</strong><pre><? print_r( json_decode( $row['get'] ) ); ?></pre><? } ?>
                        <? if ( count( json_decode( $row['cookie'] ) ) > 0 ) { ?><strong>COOKIE:</strong><pre><? print_r( json_decode( $row['cookie'] ) ); ?></pre><? } ?>
                        <? if ( count( json_decode( $row['server'] ) ) > 0 ) { ?><strong>SERVER:</strong><pre><? print_r( json_decode( $row['server'] ) ); ?></pre><? } ?>
                    </td>
                </tr>
<?          } ?>
          </tbody>
        </table>
        </form>
    </div>
  </div>
<? include( $this->footerDir ); ?>
