<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <div class="span9">
<?      $show = array("Id ","Image Url","Title","Tags","Category","Published","Approved","Draft"," "," "," ");
        $categories = array();
        foreach ( $this->category as $category )
        {
          $categories[$category['id']] = $category['display'];
        } ?>
        <h2 class="well">Manage Articles</h2>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <colgroup>
               <col style="width: 5%;">
               <col span="3" style="width: 20%;">
               <col style="width: 5%;">
               <col style="width: 10%;">
               <col span="4" style="width: 5%;">
            </colgroup>
            <thead>
              <tr>
                  <th><? echo implode( "</th><th>" , $show ); ?> </th>
              </tr>
            </thead>
            <tbody><?
            $text = array("article_title","meta");
            $number = array("approved","draft");
            foreach( $this->articles as $article )
            {
?>              <tr article_id="<? echo $article['id']; ?>" >
<?                foreach( $article as $key => $value )
                  {
                    if ( $key == "id" )
                    echo "<td><input type='text' disabled='true' value='" . $value . "' article_id='" . $article['id'] . "' name='" . $key . "' style='width:60%;'/></td>";
                    elseif ( $key == "datetime" )
                    echo "<td><input type='text' disabled='true' value='" . date( "M j ga", strtotime( $value ) ) . "' article_id='" . $article['id'] . "' name='" . $key . "' style='width:90%;'/></td>";
                    elseif ( in_array($key, $text) )
                    echo "<td><input type='text' max='254' value='" . $value . "' article_id='" . $article['id'] . "' name='" . $key . "' style='width:90%;'/></td>";
                    if ( $key == "category_id" )
                    { ?>
                        <td>
                            <select name="category_id" class="input-small" ><?
                              foreach ( $categories as $id => $display )
                              {
                                echo '<option';
                                if ( $id == $value ) echo ' selected="selected"';
                                echo ' article_id="' . $article['id'] . '" value="' . $id . '">' . $display . '</option>';
                              }
                            ?></select>
                        </td>
<?                  }
                    elseif ( in_array($key, $number) )
                    echo "<td><input type='number' min='0' max='1' value='" . $value . "' article_id='" . $article['id'] . "' name='" . $key . "' style='width:70%;'/></td>";
                    elseif ( in_array($key, array("prev_img") ) )
                    echo "<td><input type='url' value='" . $value . "' article_id='" . $article['id'] . "' name='" . $key . "' style='width:90%;'/></td>";
                  }
?>                  <td>
                        <button type="button" class="btn btn-success" onClick="saveRow(<? echo $article['id']; ?>);" >Save</button>
                    </td>
                    <td>
                        <a type="button" class="btn btn-info" href="<? echo HOST_URL . 'admin/article/id/' . $article['id']; ?>" >Edit</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" onClick="delRow(<? echo $article['id']; ?>);" >Delete</button>
                    </td>
                </tr>
<?          }
?>          </tbody>
        </table>
    </div>
  </div>
<? include( $this->footerDir ); ?>
