<? include( $this->headerDir ); ?>
  <div class="row-fluid">
    <div class="span3">
      <aside class="well sidebar-nav">
        <button class="btn btn-small pull-right" type="button" onClick="$('button#aside').removeClass('hide');$('aside').hide();$('div.span9').addClass('span12');$('div.span9').removeClass('span9');">Hide</button>
        <ul class="nav nav-list">
            <?
            foreach( $this->sidebar as $item => $value )
            {
                if ( is_array($value) )
                {
                    ?><li class="nav-header"><? echo $item; ?></li>
                    <? foreach( $value as $menuItem => $url )
                       {
                           ?><li><a href="<? echo $url; ?>"><? echo $menuItem; ?></a></li><?
                       }
                }
                else
                {
                    foreach( $value as $mainItem => $url )
                    {
                        ?><li><a href="<? echo $url; ?>"><? echo $mainItem; ?></a></li><?
                    }
                }
            }
            ?>
        </ul>
      </aside>
    </div>
    <div class="span9">
<?      $show = array("Id","Username","Name","Email","Active","Bans","Last Activity","Api Token"," "," ","Token","Password"); ?>
        <h2 class="well">Manage Users</h2>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <colgroup>
               <col style="width: 4%;">
               <col span="3" style="width: 12%;">
               <col span="2" style="width: 5%;">
               <col span="2" style="width: 15%;">
               <col span="4" style="width: 5%;">
            </colgroup>
            <thead>
              <tr>
                  <th><? echo implode( "</th><th>" , $show ); ?> </th>
              </tr>
            </thead>
            <tbody><?
            $text = array("article_title","meta");
            $number = array("approved","draft");
            foreach( $this->users as $user )
            {
?>              <tr user_id="<? echo $user->getId(); ?>" >
                    <td><input type="text" disabled="true" value="<? echo $user->getId(); ?>" user_id="<? echo $user->getId(); ?>" name="id" style='width:60%;'/></td>
                    <td><input type='text' disabled='true' value="<? echo $user->getUsername(); ?>" user_id="<? echo $user->getId(); ?>" name="username" style='width:90%;'/></td>
                    <td><input type='text' max="255" value="<? echo $user->getFname() . " " . $user->getLname(); ?>" user_id="<? echo $user->getId(); ?>" name="name" style='width:90%;' placeholder="First & Last Names"/></td>
                    <td><input type='email' min="6" max="255" value="<? echo $user->getEmail(); ?>" user_id="<? echo $user->getId(); ?>" name="email" style='width:90%;' placeholder="Email"/></td>
                    <td><input type='number' min='0' max='1' value="<? echo $user->getActive(); ?>" user_id="<? echo $user->getId(); ?>" name="active" style='width:70%;'/></td>
                    <td><input type='text' disabled='true' value="<? echo $user->getBans(); ?>" user_id="<? echo $user->getId(); ?>" name="bans" style='width:70%;'/></td>
                    <td><input type='text' disabled='true' value="<? echo $user->getLastActivity()->format("M j ga"); ?>" user_id="<? echo $user->getId(); ?>" name="last_activity" style='width:90%;'/></td>
                    <td><input type='text' disabled='true' value="<? echo $user->getApiToken(); ?>" user_id="<? echo $user->getId(); ?>" name="api_token" style='width:90%;'/></td>
                    <td>
                        <button type="button" class="btn btn-success" onClick="saveRow(<? echo $user->getId(); ?>);" >Save</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" onClick="delRow(<? echo $user->getId(); ?>);" >Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" onClick="genApiToken(<? echo $user->getId(); ?>);" >Gen</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onClick="resetPw(<? echo $user->getId(); ?>);" >Reset</button>
                    </td>
                </tr>
<?          }
?>          <tr id="new_user">
                <td><input type="text" disabled="true" value="" name="id" style='width:60%;'/></td>
                <td><input type='text' value="" name="username" style='width:90%;' placeholder="Username"/></td>
                <td><input type='text' max="255" value="" name="name" style='width:90%;' placeholder="First & Last Names"/></td>
                <td><input type='email' min="6" max="255" value="" name="email" style='width:90%;' placeholder="Email"/></td>
                <td><input type='number' min='0' max='1' value="" name="active" style='width:70%;'/></td>
                <td><input type='text' disabled='true' value="" name="bans" style='width:70%;'/></td>
                <td><input type='text' disabled='true' value="" name="last_activity" style='width:90%;'/></td>
                <td><input type='text' disabled='true' value="" name="api_token" style='width:90%;'/></td>
                <td colspan="4"><button type="button" class="btn btn-success" onClick="createRow();" >Create</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<? include( $this->footerDir ); ?>
